name: .NET Core Desktop

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        configuration:
          - Debug
          - Release

    runs-on: windows-latest

    env:
      Solution_Name: caMon.sln
      Publish_Dir: publish
      TmpPublish_Dir: publish_tmp

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Restore the application
      run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}

    - name: Publish (caMon)
      run: dotnet publish -c ${{ matrix.configuration }} -o ${{ env.Publish_Dir }} caMon
      env:
        Configuration: ${{ matrix.configuration }}

    - name: make mods directory
      run: New-Item -Path ${{ env.Publish_Dir }}\mods -ItemType Directory

    - name: Publish (caMon.pages.BIDSDataUpdateNotifierUsecase)
      run: dotnet publish -c ${{ matrix.configuration }} -o ${{ env.TmpPublish_Dir }} caMon.pages.BIDSDataUpdateNotifierUsecase
      env:
        Configuration: ${{ matrix.configuration }}
    - name: move caMon.pages.BIDSDataUpdateNotifierUsecase
      run: Move-Item -Path ${{ env.TmpPublish_Dir }}/caMon.pages.BIDSDataUpdateNotifierUsecase.dll -Destination ${{ env.Publish_Dir }}\mods\

    - name: Publish (e233sp)
      run: dotnet publish -c ${{ matrix.configuration }} -o ${{ env.TmpPublish_Dir }}\mods caMon.pages.e233sp
      env:
        Configuration: ${{ matrix.configuration }}
    - name: move caMon.pages.e233sp
      run: Move-Item -Path ${{ env.TmpPublish_Dir }}\mods\caMon.pages.e233sp.dll -Destination ${{ env.Publish_Dir }}\mods\

    - name: Publish (e235sp)
      run: dotnet publish -c ${{ matrix.configuration }} -o ${{ env.TmpPublish_Dir }}\mods caMon.pages.e235sp
      env:
        Configuration: ${{ matrix.configuration }}
    - name: move caMon.pages.e235sp
      run: Move-Item -Path ${{ env.TmpPublish_Dir }}\mods\caMon.pages.e235sp.dll -Destination ${{ env.Publish_Dir }}\mods\

    - name: Publish (sample)
      run: dotnet publish -c ${{ matrix.configuration }} -o ${{ env.TmpPublish_Dir }}\mods caMon.pages.sample
      env:
        Configuration: ${{ matrix.configuration }}
    - name: move caMon.pages.sample
      run: Move-Item -Path ${{ env.TmpPublish_Dir }}\mods\caMon.pages.sample.dll -Destination ${{ env.Publish_Dir }}\mods\

    - name: remove pdb files
      run: Remove-Item -Path ${{ env.Publish_Dir }}\*.pdb -Force
  
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: caMon
        path: ${{ env.Publish_Dir }}
